[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
